*~
*.swp
*.swo
.fscache
.import
*.blend1
nohup.out
recordings
ai
release
vanagloria.pck
addons/open-external-editor
docs/*.import

# Pythonscript
# This SHOULD be in source control but it's WAY too big (it holds an entire
# python) in it.
pythonscript.gdnlib
pythonscript/

# Python
__pycache__

._*
ehthumbs.db
Thumbs.db

